

/* General CSS Styles for KLNYC Website */

.mk-header-holder{ }
.ubermenu-main{    margin: auto !Important;    float: none !important;}
.ubermenu-main li a, #menu-primary-menu li a, #mk-main-navigation li a{font-family: 'MyriadPro'; font-size:13px;}
.mk-process-steps ul li:hover i{ color:#fff !Important;}
nav#mk-main-navigation{    position: absolute;    top: 0px;    right: 0px;     z-index: 999;}
.shopping-cart-header{    float: right;    position: absolute;    top: 0px;    right: 204px;    z-index: 999;}
.ubermenu-submenu.ubermenu-submenu-type-mega{ background:#050608 !important;   }
.ubermenu-skin-black-white-2 .ubermenu-tab-content-panel{background:#050608 !important; }
.ubermenu-tab-content-panel.ubermenu-column.ubermenu-column-3-4{ }
.ubermenu-tab-content-panel .ubermenu-target.ubermenu-target-with-image{padding:5px 0px !Important;}
.ubermenu-skin-black-white-2 .ubermenu-submenu, .ubermenu-skin-black-white-2 .ubermenu-submenu .ubermenu-target { color: #eee !important;}
.ubermenu-skin-black-white-2 .ubermenu-submenu .ubermenu-tab.ubermenu-active > .ubermenu-target {     background: none!important;     color: #fff; 
}

.ubermenu-tabs-group.ubermenu-column.ubermenu-column-1-4{ /*min-width:220px !important; width:220px !important; */    padding-bottom: 60px;}
.ubermenu-content-block h2{color:#fff;}
.ubermenu-target.ubermenu-target-with-image  img{ }
.ubermenu .ubermenu-tab-layout-left>.ubermenu-tabs-group{ border-right:0px !Important; border-left:1px !Important;}
.ubermenu-tab-content-panel  li{ background:#fff; }
/*******Sub Menu COlumn Width FIx *****/
#menu-item-87 .ubermenu-tabs-group>li{max-width:220px; float:none !important;}
.ubermenu-submenu-id-87 li a{ padding-top:3px !important; padding-bottom:2px !important; text-transform:none !important; text-transform:capitalize !important;}
.ubermenu-submenu-id-87 .ubermenu-tab-content-panel{min-width:786px;left:220px !important;}
.ubermenu-submenu.ubermenu-submenu-id-13{ padding-bottom:15px !important;}
.ubermenu-tab-content-panel li{min-width: 786px !important;}
.ubermenu .ubermenu-image{    width: 786px;height: 186px !important;    margin-top: 35px !important; margin-bottom:15px !important;}
.ubermenu-sub-indicators .ubermenu-tabs.ubermenu-tab-layout-left>.ubermenu-tabs-group>.ubermenu-has-submenu-drop>.ubermenu-target:after{content:" " !important;}
/*******Sub Menu COlumn Width FIx *****/
.single-product .variations_form table.variations{ display:block !Important;    margin-top: 10px;}
#ivpa-content{ display:none; }
table.variations label{color: #585858;}
.woocommerce div.product div.images{width:60% !important;}
.woocommerce div.product div.summary{ width:35%!important;}
.single_product_title{}
.f-nav-fixed {position:fixed;z-index:999;top:53px;}
.f-nav{ width: 100%; border-radius:0;background-color: #727272;border-left: 0;border-right: 0;border-bottom: 0; border-top: 0px;}
.f-nav li a{ font-family:MyriadPro, sans-serif; text-transform:uppercase; font-size:13px; color:#fff !important;letter-spacing: 0.5px;}
.summary.entry-summary{ text-align:center; }
.summary.entry-summary div p{font-family: 'Merriweather', serif;}
div.product form.cart .variations label{    padding-top: 20px!important;}
#theme-page h3{ max-height:33px; overflow:hidden;}
.mk-tabs-pane p{    font-family: 'Merriweather', serif;}
.shopping-cart-header{    position: absolute !important;    top: 0px;}
.post-type-archive-product h1, .post-type-archive-product h2, .post-type-archive-product h3{ font-family: 'Open Sans', sans-serif; font-weight:300; /*'Poppins', sans-serif; font-weight:bold;*/}
.post-type-archive-product h2{color:#4a4a4c; font-size:27px; letter-spacing:8px; text-transform:uppercase;}
.quantity.buttons_added, .stock.in-stock{ display:none !Important;}
button.single_add_to_cart_button.shop-skin-btn.shop-flat-btn.alt, .text-or {display: inline-block;}
.text-or { margin-top:7px}
.mk-header-holder{background:#050608;}
@media(min-width:767px) {.big-image{min-height: 782px;}.big-image .head-content-wrapper + .row img {min-height: 640px;max-height: 640px;}}
@media(max-width:767px){
.woocommerce div.product div.images, .woocommerce div.product div.summary{width:100% !important;}
.header-logo  { max-width:150px; background:#050608;}
.header-style-1 .menu-hover-style-5 .main-navigation-ul > li{height:47px; line-height:47px;}
}
@media (min-width:320px) and (max-width:767px){ #mk-footer [class=mk-col-1-4] {  width:48% !important;} 
 #mk-header .mk-header-nav-container{max-width:101px; float:right;text-align: left;}
}

@media (min-width:320px) and (max-width:960px) {

#mk-header .header-logo{ position:absolute !Important; top:0px; z-index:9999; pointer-events:none;}
 .dropdownJavascript li#menu-item-13{display:none;} 
div.shopping-cart-header{padding-left: 0px;margin-right: 0px !important;padding-right: 0px;min-width: 59px;     right: 85px;}
.ubermenu-tab-content-panel{ display:none !important; }
 }
 
@media(max-width:1140px){
#mk-header .header-logo{ position:absolute !Important; top:0px; z-index:9999; pointer-events:none;}
 .dropdownJavascript li#menu-item-13{display:none;} 
 .f-nav{ position:relative; margin-bottom: 0px; top:0px;}
 .shop-archive .slider_wrapper {padding-top: 0px !Important; }
 
}
@media(min-width:1140px) {.main-navigation-ul>li.menu-item{height:53px; line-height:53px;} }
@media(min-width:1140px) and (max-width:1440px){.ubermenu .ubermenu-image{width:100% !important; height:auto !important; max-width:400px !important;}
.ubermenu .ubermenu-nav .ubermenu-column-full{ max-width:400px; }

 }
.product-preferences{    margin-bottom: 10px;}
.tparrows.preview1:after{ background:transparent;}
.title h1{ color:#fff; }
.grid-item{ width:31%;     overflow: hidden; margin:15px;}
.grid-item img{ max-width:100%; margin-bottom:0px; transition:0.5s linear all;}
.grid-item:hover img{ transform:scale(1.3);}
.grid-item .overlay{    pointer-events: none; background: #000;    width: 100%;    height: 100%;    display: block;    position: absolute;
    opacity: 0;    top: 0px;}
	.grid-item:hover .overlay{ opacity: 0.5;transition:0.5s linear all;}
h2.product-category-name{    pointer-events: none;  background:url(../images/tran-black.png); padding-top:15px; padding-bottom:15px;  z-index: 9999;   position: absolute;text-align: center; color: #fff; top: 50%; font-family: 'avenir', sans-serif;    width: 100%;    transform: translateY(-50%);}
	.grid-item a{    display: block;line-height: 5px;}
	.quick-shop-wrapper h2{    font-family: 'Poppins';font-weight: bold; }
	.quick-shop-wrapper  .or-text{font-family: 'Poppins';font-weight: bold; }
	#custom-preferences{ border-radius:0px; border:1px solid #e8eae9; box-shadow:none;}
	