/* General CSS Styles for KLNYC Website */
.mk-header-holder{ border-top:5px solid #4a5ba9;}
.ubermenu-main{    margin: auto !Important;    float: none !important;}
.ubermenu-main li a, #menu-primary-menu li a{font-family: 'Muli', sans-serif;}
.mk-process-steps ul li:hover i{ color:#fff !Important;}
nav#mk-main-navigation{    position: absolute;    top: 0px;    right: 0px;     z-index: 999;}
.shopping-cart-header{    float: right;    position: absolute;    top: 0px;    right: 204px;    z-index: 999;}
.ubermenu-submenu.ubermenu-submenu-type-mega{ background:#fff !important;     padding-top: 25px;}
.ubermenu-tab-content-panel.ubermenu-column.ubermenu-column-3-4{max-width:150px;}
.ubermenu-tab-content-panel .ubermenu-target.ubermenu-target-with-image{padding:5px 0px !Important;}

.ubermenu-tabs-group.ubermenu-column.ubermenu-column-1-4{ min-width:220px !important; width:220px !important;     padding-bottom: 60px;}
.ubermenu-content-block h2{color:#585858;}
.ubermenu-target.ubermenu-target-with-image  img{margin-top:60px;}
.ubermenu .ubermenu-tab-layout-left>.ubermenu-tabs-group{ border-right:0px !Important; border-left:1px !Important;}
.ubermenu-tab-content-panel  li{ background:#fff; }
.single-product .variations_form table.variations{ display:block !Important;    margin-top: 10px;}
#ivpa-content{ display:none; }
table.variations label{color: #585858;}
.woocommerce div.product div.images{width:60% !important;}
.woocommerce div.product div.summary{ width:35%!important;}
.single_product_title{}
.f-nav{ position:fixed;width: 100%;z-index:999; top:38px;}
.summary.entry-summary{ text-align:center; }
.summary.entry-summary div p{font-family: 'Merriweather', serif;}
div.product form.cart .variations label{    padding-top: 20!important;}
#theme-page h3{ max-height:33px; overflow:hidden;}
.mk-tabs-pane p{    font-family: 'Merriweather', serif;}
.shopping-cart-header{    position: absolute !important;    top: 0px;}
.post-type-archive-product h1, .post-type-archive-product h2, .post-type-archive-product h3{    font-family: 'Poppins', sans-serif; font-weight:bold;}
.quantity.buttons_added, .stock.in-stock{ display:none !Important;}
button.single_add_to_cart_button.shop-skin-btn.shop-flat-btn.alt, .text-or {
    display: inline-block;
}
.text-or { margin-top:7px}


