
.wrapper {
    max-width:100%;
}
.row {
    margin-right:0;
    margin-left:0;
}
@-ms-viewport{
    width: device-width;
}

.slider-wrapper img {
    max-width:100%;
}
.dropdown-menu {
    width:100%;
    background-color: #f4f4f4;
    border-color: transparent;
}
.dropdown-menu ul li {
    float: left;
    list-style: none;
    padding: 4px 15px;
}
.dropdown-menu ul li a {
    color: #666;
    padding:10px 20px;
}
.dropdown-menu ul li a:hover {
    background-color: transparent;
    text-decoration: none;
}
.arrow-up {
    width: 0;
    height: 0;
  /*  border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #c4c2c3;
    position: absolute;
    top: -10px;
    left: 282px; */
}
.slider_wrapper img {
    max-width: 100%;
    height: 100%;
    margin-bottom: -6px;
}
.main-head {
    text-align: center;
    color: #4a4a4c;
    font-size: 40px; letter-spacing:10px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}
.big-image {
    border: 1px solid #c9c9c9; background:#f3f3f5; padding:15px 15px !important;
    min-height: 782px;

}
.big-image .head-content-wrapper {
    padding: 10% 5%;
}
.big-image .head-content-wrapper h2 {
    text-align: center;
    color: #4a4a4c;
    font-size: 27px;
    line-height: 40px;
}
.big-image .head-content-wrapper p {
    text-align: center;
    color: #6a6a6c;
    margin: 0 10px;
    font-size: 16px;
    line-height: 28px;
}
.big-image .head-content-wrapper p:last-child {
    color:#333;
    margin-top: 10px;
    font-size: 12px;
    line-height: 18px;
}
.big-image .head-content-wrapper + .row img {
    width:100%;
}
.section {
    margin-bottom: 30px;
}
.padding_left_right_0 {
    padding-left: 0;
    padding-right: 0;
}
.padding-left_0 {
    padding-left:0;
}
.product-detail p {
    text-align: center;
    margin: 0;
    padding: 2px;
    font-size: 14px;
    font-weight: 700;
}
.product-detail p:first-child {
    font-weight: 400;
    font-size: 12px;
    color: #666;

}
.short-product {
    margin-bottom: 25px;
    max-width:100%;
}
.row.section {
    margin-bottom: 200px;
}
.product-hover-detail {
    /*display: none;*/
    max-height: 411px;
    min-height:400px;
    z-index: 999;
    background-color: #fff;
    position: absolute;
    border: 1px solid #c1c1c1;
    /*box-shadow: 0 0 1px 3px #e8e8e8;*/
    transition: ease all 0.2s;
    opacity: 0;
    top: -5px;
    overflow: hidden;
    /*left: -5px;*/
}
.product-hover-detail.odd {
    /*width: 0;*/
    left:-358px;
    z-index: -1;
}
.product-hover > div {
    position: relative;
}
.product-hover > div:hover {
    cursor: pointer;
}
.product-hover > div:hover div.product-hover-detail {
    display: block;
    opacity: 1;
    width: 685px;
}
.product-hover > div:hover div.product-hover-detail.odd {
    overflow: visible;
    z-index: 1000;
    left:15px;
}
.product-hover > div:hover div.product-hover-detail.even {
    left:-358px;
    overflow: visible;
    z-index: 1001;
}
.product-hover > div div.product-hover-detail.even {
    overflow: hidden;
    left: 0;
    z-index: -1;
}
.product-hover > div > div {
    padding-top: 15px;
}
.quick-shop-wrapper h2,
.quick-shop-wrapper p {
    text-align: center;
}
.quick-shop-wrapper p {
    font-size: 13px;
}
.quick-shop-wrapper > div {
    margin-bottom: 20px;
    text-align: center;
}
.quick-shop-wrapper > div .btn {
    width: 100%;
}
.section > div {
    overflow: hidden;
    padding-top: 10px;
    margin-top: -10px;
}
.custom-checkbox-wrapper input {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.shop-archive .slider_wrapper {
    padding-top: 49px;
    position: relative;
}
.slider_wrapper .title {
    position: absolute;
    top: 60px;
    left: 15%;
}
.f-nav.navbar-default .navbar-nav > li > a {
    color: #d8d8d8;
}
.f-nav.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}
.ubermenu a.ubermenu-target {
    padding-top:17px;
    padding-bottom:17px;
}
#mk-header {
    z-index:1000;
}
.f-nav .dropdown.open > a,
.f-nav .dropdown.open > a:hover {
    background-color:transparent;
}
.f-nav.navbar-default .navbar-nav > li .dropdown-menu {
    background-color:#c4c2c3;
    top:98%;
    border: none;
    border-radius:0;
}
.f-nav.navbar-default .navbar-nav > li .dropdown-menu >ul>li>a {
    color: #484848 !important;
}
.f-nav.navbar-default .navbar-nav > li .dropdown-menu >ul>li>a:hover {
    color: #ffffff;
}
#mk-header ul ul ul {
   /* left:100%; */
}
#mk-header ul ul li {
    /*position: relative;*/
}
.saved-preferences > label {
    display: block;
}
.btn.customize {
    background-color: #303030;
    color:#e5e5e5; text-transform:uppercase; font-family:'Open Sans',sans-serif; border-radius:0px; letter-spacing:3px;
}
.product-hover-detail .btn-primary{font-family:'Open Sans',sans-serif;letter-spacing:3px;}
.row.category-title {
    min-height: 100px;
}
.no-categories-found {
    min-height: 300px;
}